.Profile
  %p profile
  %p 作詞、作曲、アレンジ、動画制作、全てを一人でこなす、兵庫県淡路島出身のシンガーソングライター兼youtuber。
  %p 幼少期から歌うことが大好きで、学生時代はボイトレに通いながら、イベントにも積極的に参加し、歌を勉強する日々。
  %p 2020年は「挑戦する年」と目標を立てたことをきっかけに、音楽イベントの主催やオリジナル曲の制作を始める。
  %p 音楽制作を始めて約２ヶ月で自身初のオリジナル曲となる「I need “MASK”」が完成。
  %p この曲は学生時代に、毎日欠かさずマスクをつけていた自分自身をラップに乗せて歌詞を綴ったhip-hopチューンとなっている。
  %p また、この作品の一つの醍醐味であるリリックビデオの演出にもこだわり、曲の世界観をさらに増幅させた映像作品となっている。
  %p この曲で、2020年９月１日にはyoutuberとして動画配信活動も始動させる。また、その１ヶ月後には２作目を配信。
  %p こちらの作品は自身が幼い頃から大好きなロックバンドであるORANGE RANGEの「落陽」を“絵々都唯”色にアレンジ・カバーした作品。動画では、数十人の友人・知人に協力してもらい、夕日の写真を使ったミュージックビデオ に挑戦。
  %p 今後も様々なジャンルのオリジナル曲、カバー曲、そして工夫を凝らした動画制作など多種多様な活動を行っていく予定だ。

  好きなアーティスト：ORANGE RANGE、EXILE、清水翔太、玉置浩二…
