.Video
  %p Lyric Video
  <iframe width="560" height="315" src="https://www.youtube.com/embed/7NnrDbkmmn8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  %p 絵々都唯 -EETUI- 「I need "MASK"」
  <iframe width="560" height="315" src="https://www.youtube.com/embed/mPFn5R6jZ6o" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  %p 落陽/ORANGE RANGE【歌ってみた】covered by 絵々都唯-EETUI-
  <iframe width="560" height="315" src="https://www.youtube.com/embed/P1r9IgoeUm0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  %p お願い！セニョリータ / ORANGE RANGE (LyricVideo) covered by 絵々都唯-EETUI-